*.env
.env
*.docx
*.txt
*gpt
*.md
!requirements.txt
!packages.txt

# dependencies
*/**/node_modules
*/**/__pycache__
*/**/__pycache__/*
api/__pycache__
api/__pycache__/*
*/**/*.pyc
*/**/*.pyo
*/**/*.pyd
*/**/.Python
*/**/build
*/**/develop-eggs
*/**/dist
*/**/downloads
*/**/eggs
*/**/.eggs
*/**/lib
*/**/lib64
*/**/parts
*/**/sdist
*/**/var
*/**/venv
*/**/env
*/**/.venv
*/**/.env
/.pnp
.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*